<mat-card class="home mat-elevation-z2">
    <mat-card-header>
      <div mat-card-avatar class="card-header-image"></div>
      <mat-card-title
        ><a href="https://github.com/Yannarp" class="link"
          >Diana Martine</a
        ></mat-card-title
      >
      <mat-card-subtitle>Frontend developer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-title class="title">Tudo certo jovem!</mat-card-title>
    <mat-card-subtitle class="subtitle">Sobre Mim</mat-card-subtitle>
    <mat-card-content class="mat-card-content">
      <p>
        I'm a software development student who loves 
        the vastness of technology and who is always looking to be 
        better than yesterday!
      </p>
      <a href="https://github.com/Yannarp" target="_blank">My GitHub</a>
    </mat-card-content>
  </mat-card>
